{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "Azure_Storage_AccountName": "fileuploadstor2",
    "Azure_Storage_AccountKey":"ge//y0Zm3oOJRfTgWgkPuktWw5nQzo9X9qglEv1r33ovXPZaGnJe2dvSXgs5ncym0/scc1lNxCUh+AStbXWkMA=="
  },
  "Host": {
    "CORS": "*"
  }
}
